doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Medialand GitHub Manager
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="/css/vendor.css" rel="stylesheet")

  body
    #appwrapper.container.body.menutoggle-md
      .main_container
        sidemenu
        topnav
        .right_col(role="main")
          .clearfix
          transition(name="fade" mode="out-in")
            router-view
      coverloading
    script(src="/js/vendor.js")
    script(src="/js/main.js")

