html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "Microsoft JhengHei", Arial, sans-serif;
}
.login_content h1 {
  font-family: "Helvetica Neue", Helvetica, "Microsoft JhengHei", Arial, sans-serif;
}
.color-elegant-color {
  background-color: #2e2e2e;
  color: #fff;
}
.color-elegant-color-dark {
  background-color: #212121;
  color: #fff;
}
.color-stylish-color {
  background-color: #4b515d;
  color: #fff;
}
.color-stylish-color-dark {
  background-color: #3e4551;
  color: #fff;
}
.color-unique-color {
  background-color: #3f729b;
  color: #fff;
}
.color-unique-color-dark {
  background-color: #1c2331;
  color: #fff;
}
.color-special-color {
  background-color: #37474f;
  color: #fff;
}
.color-special-color-dark {
  background-color: #263238;
  color: #fff;
}
.color-red {
  background-color: #f44336;
  color: #fff;
}
.color-red-accent-1 {
  background-color: #ff8a80;
  color: #fff;
}
.color-red-accent-2 {
  background-color: #ff5252;
  color: #fff;
}
.color-red-accent-3 {
  background-color: #ff1744;
  color: #fff;
}
.color-red-accent-4 {
  background-color: #d50000;
  color: #fff;
}
.color-pink {
  background-color: #e91e63;
  color: #fff;
}
.color-pink-accent-1 {
  background-color: #ff80ab;
  color: #fff;
}
.color-pink-accent-2 {
  background-color: #ff4081;
  color: #fff;
}
.color-pink-accent-3 {
  background-color: #f50057;
  color: #fff;
}
.color-pink-accent-4 {
  background-color: #c51162;
  color: #fff;
}
.color-purple {
  background-color: #9c27b0;
  color: #fff;
}
.color-purple-accent-1 {
  background-color: #ea80fc;
  color: #fff;
}
.color-purple-accent-2 {
  background-color: #e040fb;
  color: #fff;
}
.color-purple-accent-3 {
  background-color: #d500f9;
  color: #fff;
}
.color-purple-accent-4 {
  background-color: #a0f;
  color: #fff;
}
.color-indigo {
  background-color: #3f51b5;
  color: #fff;
}
.color-indigo-accent-1 {
  background-color: #8c9eff;
  color: #fff;
}
.color-indigo-accent-2 {
  background-color: #536dfe;
  color: #fff;
}
.color-indigo-accent-3 {
  background-color: #3d5afe;
  color: #fff;
}
.color-indigo-accent-4 {
  background-color: #304ffe;
  color: #fff;
}
.color-blue {
  background-color: #2196f3;
  color: #fff;
}
.color-blue-accent-1 {
  background-color: #82b1ff;
  color: #fff;
}
.color-blue-accent-2 {
  background-color: #448aff;
  color: #fff;
}
.color-blue-accent-3 {
  background-color: #2979ff;
  color: #fff;
}
.color-blue-accent-4 {
  background-color: #2962ff;
  color: #fff;
}
.color-cyan {
  background-color: #00bcd4;
  color: #fff;
}
.color-cyan-accent-1 {
  background-color: #00acc1;
  color: #fff;
}
.color-cyan-accent-2 {
  background-color: #0097a7;
  color: #fff;
}
.color-cyan-accent-3 {
  background-color: #00838f;
  color: #fff;
}
.color-cyan-accent-4 {
  background-color: #006064;
  color: #fff;
}
.color-teal {
  background-color: #009688;
  color: #fff;
}
.color-teal-accent-1 {
  background-color: #00897b;
  color: #fff;
}
.color-teal-accent-2 {
  background-color: #00796b;
  color: #fff;
}
.color-teal-accent-3 {
  background-color: #00695c;
  color: #fff;
}
.color-teal-accent-4 {
  background-color: #004d40;
  color: #fff;
}
.color-green {
  background-color: #4caf50;
  color: #fff;
}
.color-lime {
  background-color: #cddc39;
  color: #fff;
}
.color-yellow {
  background-color: #ffeb3b;
  color: #fff;
}
.color-amber {
  background-color: #ffc107;
  color: #fff;
}
.color-orange {
  background-color: #ff9800;
  color: #fff;
}
.color-brown {
  background-color: #795548;
  color: #fff;
}
.color-grey {
  background-color: #9e9e9e;
  color: #fff;
}
.color-bluegrey {
  background-color: #607d8b;
  color: #fff;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.flex-cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel_toolbox {
  min-width: 0;
}
.swal2-modal {
  font-family: "Helvetica Neue", Helvetica, "Microsoft JhengHei", Arial, sans-serif;
}
.inloading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 5;
}
